@model IEnumerable<MVC.Models.Utilisateur>
<h2>Liste des participants de l'event</h2>
<br />
<section>
    <div class="card-columns">
        @foreach (var item in Model)
        {
            <div class="card">
                <img class="card-img-top" src="~/Img/mdr.jpg" alt="Card image cap">
                <div class="card-body bg-dark">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)</h5>
                    <p class="card-text">Desc de l'Util</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        }

    </div>
</section>

