@model IEnumerable<MVC.Models.Utilisateur>

@{
    ViewBag.Title = "ListUser";
}

@foreach (var item in Model)
    {
<article class="cards">
    <img class="cards-img-top" src="~/Img/mdr.jpg" alt="Card image cap">
    <div class="cards-body">
        <h5 class="cards-title">@Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)</h5>
        <p class="cards-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum nunc id ipsum pretium dignissim. Donec eu velit mi. Pellentesque semper tristique molestie. Cras feugiat viverra vehicula. Maecenas nec suscipit diam. Nulla eget iaculis nisl. In ac bibendum mauris. Praesent gravida, justo aliquam hendrerit sollicitudin, eros felis malesuada orci, sit amet aliquet massa justo ac ipsum. Quisque euismod tincidunt pellentesque. Vivamus ullamcorper metus ac ullamcorper rutrum.

            Pellentesque semper euismod sagittis. Vestibulum tincidunt nisi nec sodales volutpat. Integer convallis non urna sed rutrum. Curabitur elementum iaculis velit. Nullam nisl mi, cursus non mauris vitae, luctus accumsan libero. Suspendisse lacus urna, eleifend id nisl eget, accumsan tempus risus. In nec dictum elit.
        </p>
    </div>
    <footer class="cards-footer">
        <div class="btn-group btn-block">
            <button onclick="location.href=''" type="button" class="btn btn-outline-info cards-footer-btn"> <i class="far fa-calendar-alt"></i>    </button>
            <button onclick="location.href=''" type="button" class="btn btn-outline-info cards-footer-btn"> <i class="far fa-comments"></i>    </button>
            <button onclick="location.href='@Url.Action("Edit", "Utilisateur", new { id = item.Id })'" type="button" class="btn btn-outline-info cards-footer-btn"> <i class="far fa-address-card"></i>    </button>
            @*<button data-toggle="modal" data-target="#detailsModal" data-id="@item.Id" type="button" class="open-DetailsUserDialog btn btn-outline-info cards-footer-btn"> <i class="far fa-address-card"></i></button>*@
        </div>

    </footer>
</article>
}
