@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="jumbotron">
        <video scr="~/Movies/movie.mp4" height="80%" width="auto" autoplay loop>
            Your Browser does not support the video tag.
        </video>
    </div>
</section>
